@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cursive-font:"Playwrite AU TAS", cursive;
    --body-font:"Raleway", sans-serif;
    --color1:#14141E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F4F5F0;
    transition: all ease-in 5s;
    -webkit-transition: all ease-in 5s;
    -moz-transition: all ease-in 5s;
    -ms-transition: all ease-in 5s;
    -o-transition: all ease-in 5s;
}
.nav{
    margin: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo>img{
    width: 2rem;
}
.logo>h1{
    font-size: 3rem;
    font-family: var(--body-font);
    color: rgb(75, 75, 75);
    font-weight: 600;
}
.small-screen-nav{
    /* position: relative; */
    display: none;
    font-size:2.5rem;
}
.fa-bars{
    position: absolute;
    top: 2.5rem;
    right: 3%;
}
.small-screen-menu{
    position: absolute;
    top: 3.5rem;
    height: 500px;
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.small-screen-search{
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: black;
    padding: 1rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.small-screen-search :is(input, i) {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.4rem;
}
.small-screen-search>i {
    display: grid;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    color: whitesmoke;
    transition: color 0.25s;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.menu-items>a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.menu-items>a:hover{
    color: rgb(36, 36, 36);
}
.menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.menu>a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(99, 99, 99);
    font-family: var(--body-font);
    font-weight: 400;
}
.menu>a:hover{
    color: rgb(36, 36, 36);
}
.search-box{
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: black;
    padding: 1rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.search-box :is(input, button) {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.4rem;
}
.search-input {
    width: 0;
    transition: width 0.5s;
}

.search-btn {
    display: grid;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    color: whitesmoke;
    transition: color 0.25s;
}
.search-btn:hover {
    color: #e3e3e3;
}
/* on screens 900 and less*/
@media screen and (max-width:992px) {
    html{
        font-size: 45%;
    }
} 
@media screen and (max-width:722px) {
    .menu,.search{
        display: none;
    }
    .small-screen-nav{
        display: flex;
    }
}
  

